<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - ng2_ts_vs2017</title>
        <base href="/" />
        <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />

        <!-- Styles for this come from angular/material and are used by the directives of Angular2 typescript modules -->
        <link rel="stylesheet" href="~/css/ng-theme.css" />
    </head>
    <body class="mat-app-background">
        @RenderBody()

        @RenderSection("scripts", required: false)
    </body>
</html>
