
<div class="row" [@easeIn]>
    <div class="col-md-6 col-md-offset-3">
        <md-card class="router-outlet-card">
            <md-card-content>
                <div class="row">
                    <div class="col-md-12">
                        <h1>About</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <span>About value: {{ test }}</span>
                    </div>
                    <div class="col-md-12">
                        <md-slider class="mat-primary" min="1" max="5" step="0.5" value="1.5"></md-slider>
                    </div>
                    <div class="col-md-12">
                        <form id="chatForm">
                            <h2>Chat Messages: </h2>
                            <div style="height:200px;max-height:200px; width:100%; overflow-y:auto; overflow-x:hidden; word-wrap:break-word">
                                <div class="fill" *ngFor="let message of chatMessages">
                                    {{ message }}
                                </div>
                            </div>
                            <md-input-container class="fill">
                                <input mdInput type="text" placeholder="Message" name="message" [(ngModel)]="message" required (keyup.enter)="sendMessage()">
                            </md-input-container>
                        </form>

                    </div>
                </div>
            </md-card-content>
        </md-card>

    </div>
</div>