<md-card class="mat-elevation-z6">
    <!--<md-card-title-group style="background-color:aquamarine">
        <md-card-title>Navigation</md-card-title>
    </md-card-title-group>-->


    <md-card-content>
        <nav md-tab-nav-bar>
            <button [routerLinkActive]="['nav-active']" md-button *ngFor="let link of links" [routerLink]="link">
                {{ capitalizeLink(link) }}
            </button>
        </nav>

        <!--<button md-raised-button (click)="toggleProgressBar()">PROGRESS</button>-->
    </md-card-content>

    <md-card-footer>
        <md-progress-bar mode="indeterminate" [@easeInOut]="state"></md-progress-bar>
    </md-card-footer>
</md-card>