<nav class="navbar-fixed-top">
    <md-card id="app-nav" class="nav-card mat-primary mat-elevation-z6">
        <div class="container nav-container">
            <div class="row">
                <div class="col-md-3">
                    <span class="trademark">
                        <strong>A</strong>ngular 2 + <strong>T</strong>ypescript
                    </span>
                </div>
                <div class="col-md-6">
                    <md-card-content class="nav-card-content">
                        <button [routerLinkActive]="['mat-primary']" md-button *ngFor="let route of routes" [routerLink]="route.getPath()">
                            <md-icon *ngIf="route.getIconName()">{{ route.getIconName() }}</md-icon>
                            {{ capitalizeLink(route.getPath()) }}
                        </button>

                        <button *ngIf="authService.isLoggedIn()" class="nav-login-btn mat-primary" md-button  [md-menu-trigger-for]="menu" style="float:right">
                            Hello, <u>{{ authService.getLoggedInUser() }}</u>!
                        </button>

                        <button *ngIf="!authService.isLoggedIn()" class="nav-logout-btn mat-primary" md-button (click)="openLoginDialog()" style="float:right;">
                            <md-icon>account_circle</md-icon>
                            Login
                        </button>

                        <md-menu #menu="mdMenu">
                            <div class="user-menu">
                                <button md-menu-item (click)="navService.goToProfile()">
                                    <md-icon>account_circle</md-icon>
                                    Profile
                                </button>
                                <hr />
                                <button md-menu-item (click)="logout()">
                                    <md-icon>exit_to_app</md-icon>
                                    Logout
                                </button>
                            </div>
                        </md-menu>
                    </md-card-content>
                </div>
                <!-- Open space in nav-->
                <div class="col-md-3">

                </div>
            </div>
        </div>

        <md-card-footer>
            <md-progress-bar mode="indeterminate" [@easeInOutWithState]="state"></md-progress-bar>
        </md-card-footer>
    </md-card>
</nav>