
html {
    height: 100%;
}

body {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.router-outlet-card {
    div {
        &.row {
            padding-bottom: 24px;
        }
    }
}

.fill {
    width: 100%;
}

.spinner-overlay {
    position: absolute;
    left: 0;
    top: 0;
    margin: auto;
    width: 100% !important;
    height: 100% !important;
    opacity: 1;
    z-index: 500000;
}