<md-card class="mat-elevation-z6">
    <md-card-title-group style="background-color:aquamarine">
        <md-card-title>Navigation</md-card-title>
    </md-card-title-group>

    <md-card-content style="background-color:aqua">
        <button [routerLinkActive]="['nav-active']" md-button *ngFor="let link of links" [routerLink]="link">
            {{ capitalizeLink(link) }}
        </button>
        <!--<button md-raised-button (click)="toggleProgressBar()">PROGRESS</button>-->
    </md-card-content>

    <md-card-footer>
        <md-progress-bar #navigationProgress mode="indeterminate"></md-progress-bar>
    </md-card-footer>
</md-card>