<div class="login-container">
    <form id="loginForm" [formGroup]="loginForm" (ngSubmit)="performLogin(loginForm.value)">
        <md-dialog-content>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <md-input-container>
                            <input mdInput placeholder="Username" [formControl]="loginForm.controls['username']" name="username" required>
                        </md-input-container>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <md-input-container>
                            <input mdInput type="password" placeholder="Password" [formControl]="loginForm.controls['password']" name="password" required>
                        </md-input-container>
                    </div>
                </div>
            </div>
        </md-dialog-content>

        <md-dialog-actions>

            <div class="form-action-btns">
                <button md-raised-button type="submit" class="login-button mat-primary fill" [disabled]="!loginForm.valid">
                    <md-progress-spinner *ngIf="loginOngoing" class="spinner-overlay" color="primary" mode="indeterminate"></md-progress-spinner>
                    {{ loginOngoing ? '' : 'Submit' }}
                </button>

                <button type="button" md-button class="login-button mat-primary fill" [disabled]="loginOngoing" (click)="goToRegistration()">
                    Create Account
                </button>
            </div>

        </md-dialog-actions>
    </form>
</div>