<form>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <md-input-container>
                    <input mdInput placeholder="Username" [(ngModel)]="user.username" required>
                </md-input-container>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <md-input-container>
                    <input mdInput type="password" placeholder="Password" [(ngModel)]="user.password" required>
                </md-input-container>
            </div>
        </div>
    </div>
</form>