<div class="row" [@easeIn]>
    <div class="col-md-6 col-md-offset-3">
        <md-card class="router-outlet-card">
            <md-card-content>
                <div class="row">
                    <div class="col-md-12">
                        <h1>Registration</h1>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <form id="registrationForm" [formGroup]="registrationForm" (ngSubmit)="performRegistration()">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-6 col-md-offset-3">
                                        <md-input-container class="fill">
                                            <input mdInput type="text" placeholder="Name" [formControl]="registrationForm.controls['name']" name="name" required>
                                        </md-input-container>
                                        <md-input-container class="fill">
                                            <input mdInput type="text" placeholder="Surname" [formControl]="registrationForm.controls['surname']" name="surname" required>
                                        </md-input-container>
                                        <md-input-container class="fill">
                                            <input mdInput type="email" placeholder="Email" [formControl]="registrationForm.controls['email']" name="email" required>
                                        </md-input-container>
                                        <md-input-container class="fill">
                                            <input mdInput type="text" placeholder="Username" [formControl]="registrationForm.controls['username']" name="username" required>
                                        </md-input-container>
                                        <md-input-container class="fill">
                                            <input mdInput type="password" placeholder="Password" [formControl]="registrationForm.controls['password']" name="password" required>
                                        </md-input-container>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-md-offset-3">
                                        <button md-raised-button type="submit" class="mat-primary" [disabled]="!registrationForm.valid">
                                            <md-progress-spinner *ngIf="registering" class="spinner-overlay" color="primary" mode="indeterminate"></md-progress-spinner>
                                            Register
                                        </button>
                                        <button md-button type="reset" class="mat-warn pull-right" [disabled]="registering">
                                            Clear
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </md-card-content>
        </md-card>
    </div>
</div>